
.portada{
  background-image: url(../images/portadaPS.gif);
  overflow: hidden;
  background-size: cover;
  height: 120vh !important;
  width: 100vw !important;
}
.tituloportada{
  text-align: center;
  color: rgb(10, 10, 10);
  font-family:serif;
  font-size: 3rem;
  text-shadow: rgb(90, 89, 89) 1px 1px;;
}


